a {
font: 10pt "Tahoma";
color: black;
font-weight: none;
text-decoration: none
}
table {
font: 10pt "Tahoma";
color: black;
font-weight: none;
text-decoration: none
}
td {
font: 10pt "Tahoma";
color: black;
font-weight: none;
text-decoration: none
}
body {
font: 10pt "Tahoma";
color: black;
font-weight: none;
text-decoration: none
}
fieldset {
font: 10pt "Tahoma";
color: black;
font-weight: none;
text-decoration: none
}
